
ul { list-style-type: none; line-height: 30px;}
[id^="q"] {
    margin: 20px ;
    background-color: white;
    border-radius: 10px;
    color: black; 	
    height: 200px;
    overflow-y: auto;
}
.score
{
	margin: 20px;
	background-color: tan;
}

tr.score
{
	border-spacing: 10px;
}
td.score
{
border-spacing: 10px;
}

li.red {
    list-style-image: url('https://anilchebolu.github.io/sat/correctSign.png');
    list-style-position: right;

}